<% include header.ejs %>

<body class='cart1'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>$('a.remove').click(function () {
      event.preventDefault();
      $(this).parent().parent().parent().hide(400);

    })

    // Just for testing, show all items
    $('a.btn.continue').click(function () {
      $('li.items').show(400);
    })</script>

  <div class="wrap cf">
    <h1 class="projTitle"> Shopping Cart</h1>
    <div class="heading cf">
      <h1>My Cart</h1>
      <a href="/items" class="continue">Continue Shopping</a>
    </div>
    <% items.forEach(function(item){ %>
    <div class="cart">
      <!--    <ul class="tableHead">
            <li class="prodHeader">Product</li>
            <li>Quantity</li>
            <li>Total</li>
             <li>Remove</li>
          </ul>-->
      <ul class="cartWrap">
        <% if(items.indexOf(item) % 2 === 0) { %>
            <li class="items odd">
           <% } else { %>
            <li class="items even">
          <% } %>  
          <div class="infoWrap"> 
              <div class="cartSection">
              <img src="<%= item.photo %>"
        alt="item" class="itemImg" />
        <p class="itemNumber">
          <%= item.id %>
        </p>
        <h3>
          <%= item.name %>
        </h3>
         <p> <input type="text" id="<%=item.id%>" value="1" class="qty"/> x $
          <%= item.price %>
        </p>
        <p class="stockStatus"> In Stock</p>
    </div>  


    <div class="prodTotal cartSection">
      <p id = "tot<%=item.id%>" >
       </p>
    </div>
    <div class="cartSection removeWrap">
      <a href="#" class="remove">x</a>
    </div>
  </div>
  
  </li>
  <% }); %>

  

  <div class="special">
    <div class="specialContent">Free gift with purchase!, gift wrap, etc!!</div>
  </div>
  </li>


  <!--<li class="items even">Item 2</li>-->

  </ul>
  </div>

  <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
    <a href="#" class="btn"></a></div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value" id='subtotal'></span></li>

      <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>

      <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>
      <li class="totalRow final"><span class="label">Total</span><span class="value" id='total'>$44.00</span></li>
      <li class="totalRow"><a href="/userCheckout" class="btn continue">Checkout</a></li>
    </ul>
    
  </div>
  </div>
  <script>
    const arrSum = arr => arr.reduce((a,b) => a + b, 0);
      let items = <%- JSON.stringify(items) %>;
      let totprice = []
      for (item in items){
        (function () {
        let input1 = document.getElementById(items[item].id);
        let item1 = item;
        totprice[item] = input1.value* items[item].price;
        document.getElementById(`tot${items[item].id}`).innerText = totprice[item];
        document.getElementById('subtotal').innerText=arrSum(totprice);
        document.getElementById('total').innerText=arrSum(totprice) + 9;
        input1.addEventListener('input', function()
        {
          totprice[item1] = input1.value* items[item1].price;
          document.getElementById(`tot${items[item1].id}`).innerText = totprice[item1];
          document.getElementById('subtotal').innerText=arrSum(totprice);
          document.getElementById('total').innerText=arrSum(totprice) + 9;
        });
      }());
    };
    
   
    
  </script>

</body>


</html>